---
import SpeechBubble from './NotFoundSpeechBubble.astro';
---
<div
  class="not-found-cover block w-full relative"
>
  <!-- アイコン -->
  <div
    class="relative w-[4rem] h-[4rem] left-3 top-3 sm:w-20 sm:h-20"
  >
    <img
      class="rounded-full border border-gray-100 shadow-lg object-cover w-full h-full"
      src="/src/images/my-icon.svg"
    />
    <div class="absolute top-0 right-0 h-4 w-4 my-1 border-2 border-white rounded-full bg-green-400 z-2">
    </div>
  </div>

  <!-- 吹き出し -->
  <div
    class="absolute top-0 left-0 right-0 bottom-0 w-[70%] h-1/2 ml-20 mt-16 sm:ml-[7rem]"
  >
    {<SpeechBubble />}
  </div>
</div>

<style>
  .not-found-cover {
    height: calc(max(340px, 40vh));
  }
</style>
