---
import '@fontsource/ma-shan-zheng';
import '@fontsource/shippori-mincho-b1';

export interface Props {
  messages: string[];
}

const { messages = [] } = Astro.props;
---
<div class="balloon rounded text-center w-full">
  {
    messages.map(message => (
      <div
        class="text-xs sm:text-sm sm:text-base md:text-lg lg:text-xl"
        style="font-weight: bold;"
      >
        {message}
      </div>
    ))
  }
</div>

<style>
/* 吹き出し本体 */
.balloon{
  position: relative;
  padding: 15px;
  background-color: white;
  display: inline-block;     /* 横幅を自動で変更 */
  box-shadow: 6px 6px 0px 0px green;  /* 影をつける */
  z-index: 2;
}

/* beforeで三角を表現 */
.balloon::before{
  content: '';
  position: absolute;
  left: -15px;
  top: 15px;
  display: block;
  width: 0;
  height: 0;
  border-right: 15px solid transparent;
  border-bottom: 15px solid white;
  border-left: 15px solid transparent;
  transform: rotate(60deg);
  z-index: 3;
}
</style>
