<div class="grid md:grid-cols-5 gap-2 md:gap-10 pt-3 md:py-10">
  <div class="md:col-span-2">
    <div class="max-w-xs">
      <h2 class="text-xl font-bold md:text-2xl md:leading-tight dark:text-white">
        このブログについて
      </h2>
    </div>
  </div>
  <div class="md:col-span-3">
    <div class="pb-2">
      <div class="w-full" >
        <p>
          当ブログは、主に以下の３つの分野で私個人の経験と知見をもとに発信していきます。
          <ol class="list-decimal">
            <li>Web開発</li>
            <li>アルゴリズムやデータ構造</li>
            <li>日本育ちの外国人としての生活
              <br>
              <span class="text-xs md:text-sm">
                ※あくまで個人的に有用だと感じた情報を共有目的として発信いたします。ヘイトや差別を助長するような内容は一切含まれません。
              </span>
            </li>
          </ol>
          <br>
          当ブログの内容は原則的に私の個人的な意見や考えを反映しております。また、当ブログの内容は私の所属する組織や団体とは一切関係ありません。
          <br><br>
          当ブログはAstro + Tailwind CSS + TypeScriptで制作し、Notionによって記事を管理しております。またホスティングにはCloudflareを使用しています。
          <br><br>
          当ブログや私へのお問い合わせをはじめ、記事の内容の指摘・訂正・削除希望などがありましたら、X（旧Twitter）を通じてご連絡ください。当ブログの記事への感想・指摘・訂正は可能であればX（旧Twitter）で共有いただけると嬉しいです。
        </p>
      </div>
    </div>
    <div class="hs-accordion-group">
      <div
        class="hs-accordion pb-1" id="hs-basic-with-title-and-arrow-stretched-heading-one"
      >
        <button class="hs-accordion-toggle group inline-flex items-center justify-between w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition dark:text-gray-200 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
          中文
          <svg
            class="hs-accordion-active:hidden block flex-shrink-0 size-5 text-gray-600 dark:text-gray-400"
            xmlns="http://www.w3.org/2000/svg"
            width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round"
          >
            <path d="m6 9 6 6 6-6"/>
          </svg>
          <svg
            class="hs-accordion-active:block hidden flex-shrink-0 size-5 text-gray-600 dark:text-gray-400"
            xmlns="http://www.w3.org/2000/svg"
            width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round"
          >
            <path d="m18 15-6-6-6 6"/>
          </svg>
        </button>
        <div
          id="hs-basic-with-title-and-arrow-stretched-collapse-one"
          class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300"
        >
          <p>
            这个博客主要在以下三个领域发表我个人的经验和见解:
            <ol class="list-decimal">
              <li>Web开发</li>
              <li>算法和数据结构</li>
              <li>作为在日本长大的外国人的生活
                <br>
                <span class="text-xs md:text-sm">
                  ※仅仅是为了分享我觉得有用的信息，绝不包含任何助长仇恨或歧视的内容。
                </span>
              </li>
            </ol>
            <br>
            这个博客的内容原则上反映了我个人的观点和想法。博客内容与我所属的组织或团体完全无关。
            <br><br>
            这个博客使用Astro + Tailwind CSS + TypeScript制作，使用Notion管理文章。使用Cloudflare作为托管服务。
            <br><br>
            如果有任何关于这个博客或我个人的疑问，对文章内容的指摘，修正或删除要求等，请通过X(旧Twitter)与我联系。欢迎在X(旧Twitter)上分享您对这个博客文章的感想、指摘或修正意见。
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="md:col-span-2 pt-3 md:pt-0">
    <div class="max-w-xs">
      <h2 class="text-xl font-bold md:text-2xl md:leading-tight dark:text-white">
        このブログの開発について
      </h2>
    </div>
  </div>
  <div class="md:col-span-3">
    <div class="pb-2">
      <div class="w-full" >
        <p>
          当ブログのソースコードはGithubで公開しております。<a class="underline hover:text-emerald-500" href="https://github.com/YuanzhongLi/astro-notion-blog-template">こちら</a>のリンクからご確認いただけます。当ブログは<a class="underline hover:text-emerald-500" href="https://github.com/otoyo/astro-notion-blog">astro-notion-blog</a>をフォークし、独自のカスタマイズしたものとなります。
          <br>
          <span class="text-xs md:text-sm">
            ※現状はPublicレポジトリとなっていますが、将来的にPrivateレポジトリに変更する可能性があります。
          </span>
          <br>
          <br>
          当ブログでは<a class="underline hover:text-emerald-500" href="https://unsplash.com/ja">Unsplash</a>と<a class="underline hover:text-emerald-500" href="https://www.pakutaso.com">ぱくたそ</a>の画像を一部使用しております。
          <br>
          SVGアイコンは<a class="underline hover:text-emerald-500" href="https://basicons.xyz">Basicons</a>と<a class="underline hover:text-emerald-500" href="https://tailwindcomponents.com">tailwindcomponents</a>を使用しております。
          <br>
          トップ画像のゴリラに関しては私自身がデザインし、作画したもとなります。
        </p>
      </div>
    </div>
  </div>
</div>
