---
export interface Props {
  content: string;
  href: string;
}

const { content = '', href = '' } = Astro.props;
---
<div class="col-span-1 text-center">
  <a
    class="flex-none text-xl font-semibold text-white dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
    href={href}>
    { content }
  </a>
</div>
